/* Stylesheet for entire project */
.App{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.GraphsWrapper{
  display: flex;
  width: 100%;
 flex-direction: row;
}

.Header {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 24px;
    background-color: #235886;
    display: flex;
    flex-direction: row;
    color: white;
}

.InputHeader {
    padding: 16px;
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    font-size: 24px;
    color: white;
    font-family: 'Lilita One', cursive;

}

.OutputHeader {
    padding: 16px;
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    font-size: 24px;
    color: white;
    font-family: 'Lilita One', cursive;
}

.InputDiagram {
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    border-right: 1px solid grey;
    background-color: rgb(224, 219, 219);
    overflow-x: scroll;
    overflow-y: scroll;

  }

  .OutputDiagram {
    width: 100%;
    height: 550px;
    background-color: rgb(224, 219, 219);
    overflow-x: scroll;
    overflow-y: scroll;

  }

  .ErrorLog {
    width: 100%;
    height: 100%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TextAreaWrap{
    box-sizing: border-box;
    margin: 16px 16px 13px 16px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.TextArea{
    white-space: pre-line;
    box-sizing: border-box;
    padding: 16px;
    width: 95%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
    color: #222222;
    height: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 13px;
}

.ButtonContainer button{
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;

    width: 220px;
    height: 40px;
    line-height: 16px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.ButtonContainer button:hover{
    background-color: #286090;
    border-color: #122b40;
}